html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #03001f;
}

.layout-wrp {
    margin: 24px auto;
    padding: 24px;
    max-width: 760px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}

h1 {
    font-style: normal;
    font-weight: 450;
    font-size: 36px;
    line-height: 44px;
}

h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}

p {
    margin-top: 34px;
}

img {
    width: 100%;
    max-width: 500px;
    border-radius: 16px;
}

li {
    margin-top: 15px;
}

.main-marker {
    background-color: #E6FFE6;
    border-radius: 4px;
    padding: 2px 8px;
    color: #008000;
  }
  
