@import "variables";
@import "scaffolding";

thead {
  th {
    border-left: none;
    border-top: none;
  }
}

th:first-child,
td:first-child,
th:nth-of-type(2),
th:nth-of-type(3) {
  border-left: none;
  border-top: none;
}

th:last-child,
td:last-child,
td:nth-last-of-type(2) {
  border-right: none;
  border-bottom: none;
}

.table {
  overflow: hidden;
  border-radius: 16px;
  outline: #ddd solid 1px;
  border-collapse: collapse;
  width: 100%;
}

.main-marker {
  background-color: var(--primary-light);
  border-radius: 4px;
  padding: 2px;
  color: var(--primary-3);
}

.ta-center {
  text-align: center;
}

.page404 {
  img {
    width: auto !important;
    margin: 0 auto;
  }
}

.rounded {
  border-radius: 16px;
}

.fw700 {
  font-weight: 700;
}

.mobile {
  display: none;

  &-reverse {
    display: table-cell;
  }
}

@keyframes rotate-hand {
  0% { transform-origin: bottom right; transform: rotate(0deg); }
  25% { transform-origin: bottom right; transform: rotate(-10deg); }
  50% { transform-origin: bottom right; transform: rotate(10deg); }
  75% { transform-origin: bottom right; transform: rotate(-10deg); }
  100% { transform-origin: bottom right; transform: rotate(0deg); }
}

.anim-rotate-hand {
  display: inline-block;
  animation-name: rotate-hand;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

@media (max-width: 810px) {
  td:first-of-type {
    border-left: none;
  }

  .layout-wrp {
    margin: 0;
    box-shadow: none;
  }

  .mobile {
    display: block;

    &-reverse {
      display: none;
    }
  }
}
