:root {
  --black: #03001f;
  --grey: #a3a3a3;
  --white: #ffffff;

  --yellow: #ffde59;
  --red: #ff7b6c;
  --aqua: #73c4d4;
  --blue-dark: #2d3456;

  --primary-light: #e6ffe6;
  --primary: #74c046;
  --primary-1: #b1fc88;
  --primary-2: #599c35;
  --primary-3: #417c2a;
}
