:root {
  --black: #03001f;

  --yellow: #FFDE59;
  --red: #FF7B6C;
  --aqua: #73C4D4;
  --blue-dark: #2D3456;

  --primary-light: #e6ffe6;
  --primary: #74C046;
  --primary-1 : #B1FC88;
  --primary-2 : #599C35;
  --primary-3 : #417C2A;
}
